.storeContainer {
    background-color: rgb(225, 225, 225);
}

.storeContent {
    min-height: 90vh;
    margin-top: 24px;
}

.itemCardContainer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 90%;
    height: 180px;
    margin: 0 auto 16px auto;
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
}

.itemCardImage {
    border-right: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCardImage > img {
    max-width: 90px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.itemCardInfo {
    margin: 16px;
}

.itemLink {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.itemLink:hover {
    color: rgb(22, 164, 215);
}

.itemOnSale {
    display: flex;
    gap: 10px;
}

.saleOriginalPrice {
    text-decoration: line-through;
}